<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo MVC</title>
    <script src="https://cdn.bootcss.com/vue/2.4.4/vue.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bulma/0.6.0/css/bulma.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="todoapp container" v-cloak>
        <header class="todo-header">
            <h1 class="title">Todo app with Vue
                <span class="tag is-info" v-if="todos.length > 0">{{remaining}} {{remaining | pluralize}} left</span>
                <span class="tag is-success" v-if="todos.length===0">ALL DONE</span>
            </h1>
            <input type="text" class="new-todo input is-large" v-model="newTodo" placeholder="添加一项待办" @keyup.enter="addTodo" autofocus
                autocomplete="off" spellcheck="false">
        </header>
        <div class="main">
            <div class="tabs" v-show="todos.length">
                <ul class="filters">
                    <li :class="{ 'is-active': visibility == 'all' }">
                        <a href="#/all">All</a>
                    </li>
                    <li :class="{ 'is-active': visibility == 'active' }">
                        <a href="#/active">Active</a>
                    </li>
                    <li :class="{ 'is-active': visibility == 'completed' }">
                        <a href="#/completed">Completed</a>
                    </li>
                </ul>
            </div>
            <ul class="todo-list">
                <li v-for="todo in filteredTodos" class="todo" :key="todo.id" :class="{completed:todo.completed,editing:todo==editedTodo}">
                    <div class="card">
                        <div class="card-content">
                            <div class="view">
                                <input type="checkbox" class="toggle" v-model="todo.completed">
                                <label class="subtitle" @dblclick="editTodo(todo)">{{todo.title}}</label>
                                <a class="delete" @click="removeTodo(todo)"></a>
                            </div>
                            <input type="text" class="edit input" v-model="todo.title" v-todo-focus="todo==editedTodo" v-model="todo.title" @blur="doneEdit(todo)"
                                @keyup.enter="doneEdit(todo)" @keyup.esc="cancelEdit(todo)" spellcheck="false">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <footer v-show="todos.length" class="todo-footer">
            <button @click="removeCompleted" class="button is-small is-warning">清除所有已完成的任务</button>
        </footer>
    </div>
    <script src="main.js"></script>
</body>

</html>